<h3> <%= locals.postInfo.poster || '-' %></h3>
<h2> <%= locals.postInfo.content || '-' %> </h2> 
<h2> - <%= locals.postInfo.quoteAuthor || '-' %></h2>

<p>Tags</p>

<% locals.postInfo.tags.forEach(tag=>{ %>
    <a href=""> <%= tag %> </a>, 
<% }) %>


<p>Comments</p>
<form action="./newComment" method="post"> 
    <input type="hidden" name="postUrl" value=<%= locals.postInfo.publicID %>>
    
    <input type="text" name="commentContent" id="commentContent">
    <input type="submit" value="Comment">
</form>
