<form action="test" method="get">

    <input type="color" name="color" id="color"> <br>
    <input type="image" src="" alt=""> <br>
    <input type="text" name="text" id="text"> <br>

    <input type="search" name="search" id="search"><br>
    <input type="submit" value="submit">

</form>

<% locals.document.forEach( document =>{ %>

    <br><br>
    <div style="border: 1px black solid">
                
        <h3> <a href="/users/<%= document.poster %>"> <%= document.poster %> </a></h3>
        <h1> <%= document.content %> </h1>
        <h1> - <%= document.quoteAuthor %> </h1>
        <p> <%= document.tags %> </p>
        <a href=<%= './posts/'+ document.publicID %>> <%= document.comments.length %> comments </a>

    </div>

<% }) %>

<% console.log(locals.myObj) %>