

<% locals.usersDocument.forEach(user => {%>
    <br>
    <div id="userCard_<%= user.username %>" class="userMiniCard">
        <img src="<%= user.profilePictureUrl %>">
        <a href="users/<%= user.username %>"><%= user.username %></a>

        <a href="users/<%= user.username %>"><%= user.followers.length || '0' %> followers</a>
        <a href="users/<%= user.username %>"><%= user.following.length || '0' %> following</a>

    </div>
<% }) %>    

<style>
    
    .userMiniCard{
        border: 1px solid black;
        display: flex;
        gap: 1em;
    }

    img{
        width: 5em;
    }

</style>