

<% locals.usersDocument.forEach(user => {%>
    <br>
    <div id="userCard_<%= user.username %>" class="userMiniCard">
        <img src="<%= user.profilePictureUrl %>">
        <a href="users/<%= user.username %>"><%= user.username %></a>

        <a href="users/<%= user.username %>"><%= user.followers.length || '0' %> followers</a>
        <a href="users/<%= user.username %>"><%= user.following.length || '0' %> following</a>

    </div>
<% }) %>    

<br><br>
<button id="testButton">TestButton</button>

<style>
    
    .userMiniCard{
        border: 1px solid black;
        display: flex;
        gap: 1em;
    }

    img{
        width: 5em;
    }

</style>

<script>
    let testButton = document.getElementById('testButton');
    testButton.addEventListener('click', async()=>{
        let options = {method:'post'}
        let fetcher = await (await fetch('/users/follow/123123123',options)).json();
        console.log(fetcher)
    });
</script>