<h2> <%= locals.userData.username %> </h2>

<h3>following</h3>
<%=  locals.userData.following %>

<h3>followers</h3>
<%=  locals.userData.followers %>

<h3>favoritePosts</h3>
<%=  locals.userData.favoritePosts %>

<h3>ownPosts</h3>
<%=  locals.userData.ownPosts %>

<h3>profilePictureUrl</h3>
<%=  locals.userData.profilePictureUrl %>