<%- include('./partials/header.ejs') %>

<div id="profileNav">

    <div id='userCardDiv'>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
        <h3><%= locals.userData.username %></h3>

        <% if(locals.userData.followers.includes(locals.userInfo.username)){ %>
            <button id="mainFollowBtn_<%= locals.userData.username %>" class="followBtn following_true">follow</button>
        <% } %>
        <% if(!(locals.userData.followers.includes(locals.userInfo.username))){ %>
            <button id="mainFollowBtn_<%= locals.userData.username %>" class="followBtn">follow</button>
        <% } %>

    </div>
    
    <div id='profileTabsDiv'>
        <h3 class="tabButton">ownPosts</h3>

        <h3 class="tabButton">favoritePosts</h3>
        
        <h3 class="tabButton"><%= locals.userData.following.length %> following</h3>
        
        <h3 class="tabButton"><%= locals.userData.followers.length %> followers</h3>
    </div>

</div>
        
<div id='profileContent'>
    <div id="ownPostsDiv" class="profileTab">
        <!-- client side js -->
        <h1>own posts content</h1>
    </div>
    
    <div id="favoritePostsDiv" class="profileTab">
        <!-- client side js -->
        <h1>favorite posts content</h1>
    </div>
    
    <div id="followingDiv" class="profileTab">
        <!-- client side js -->
        <h1>following content</h1>
    </div>
    
    <div id="followersDiv" class="profileTab">
        <!-- client side js -->
        <h1>followers content</h1>
    </div>
</div>



<style>
    #profileNav{
        border: 1px rgb(68, 0, 255) solid;
        display: flex;
    }
    img{
        width: 5em;
    }
    
    #profileTabsDiv{
        display: flex;
        border: 1px rgb(255, 0, 0) solid;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.5em;    
    }
    
    .profileTab{
        border: 1px black solid;
        display: none;
    }
    
    .userMiniCard{
        border: 1px solid black;
        display: flex;
        gap: 1em;
    }

    img{
        width: 5em;
    }

    .following_true{
        border: rgb(0, 255, 0) 2px solid;
    }

</style>

<script>

    let tabsCollection = document.getElementsByClassName('tabButton');
    let tabsContentCollection = document.getElementsByClassName('profileTab');
    let currentTab = 0;
    let path = 'posts';

    for (let index = 0; index < tabsCollection.length; index++) {
        tabsCollection[index].addEventListener('click',()=>{
            renderTabContent(index);
        });
    }

    async function renderTabContent(tabIndex){
        tabsContentCollection[currentTab].style.display = 'none';
        tabsContentCollection[currentTab].innerHTML = '';
        currentTab = tabIndex;

        if(tabIndex === 0){path = 'posts'}
        if(tabIndex === 1){path = 'favorites'}
        if(tabIndex === 2){path = 'following'}
        if(tabIndex === 3){path = 'followers'}

        // *** call for content to db
        // *** split html and script
        let fetcher = await (await fetch('/users/'+path+'/<%= locals.userData.username %>')).text(); 
        
        fetcher = fetcher.replace("/script","script");
        fetcher = fetcher.split("<script>");
        
        let fetchHtml = fetcher[0];
        let fetchScript = fetcher[1];
        let scriptTag = document.createElement('script');
        scriptTag.innerHTML = `${fetchScript}`;

        tabsContentCollection[currentTab].innerHTML = fetchHtml;
        if(fetchScript){
            tabsContentCollection[currentTab].append(scriptTag);
        }
        
        addPopupEvent();
        tabsContentCollection[tabIndex].style.display = 'block';
    }

    function addPopupEvent(){
        let authRequiredCollection = document.getElementsByClassName('authRequired');
        
        for (let index = 0; index < authRequiredCollection.length; index++) {
            authRequiredCollection[index].addEventListener('click', (e)=>{
                e.preventDefault();
                renderPopup();
            });
        }
    }

    async function renderPopup(){
        if(!document.getElementById('loginDiv')){
            let popupDiv = document.createElement('div');
            popupDiv.innerHTML = await (await fetch('/test',{method:'POST'})).text();
            popupDiv.id = 'popupDiv';
            
            let loginPopupScript = document.createElement('script');
            loginPopupScript.innerHTML = await(await fetch('/scripts/loginPopup.js')).text();
            
            let body = document.body;
            body.append(popupDiv);
            body.append(loginPopupScript);
        }else{
            document.getElementById('popupDiv').style.display = 'block';
        }
    }

    renderTabContent(currentTab);


    //Main Follow Button
    let mainFollowBtn = document.getElementById('mainFollowBtn_<%= locals.userData.username %>');

    mainFollowBtn.addEventListener('click', async()=>{
        let options = {method:'post'}
        let follow_username = mainFollowBtn.id.slice(14);
        let fetcher = await (await fetch(`/users/follow/${follow_username}`,options)).json();
        
        console.log('[test.ejs] \n',fetcher);
        if(fetcher.error === 'Not Logged In'){
            renderPopup();
        }

        if(fetcher.followStatus){
            mainFollowBtn.className = 'followBtn following_true';
        }
        else{
            mainFollowBtn.className = 'followBtn';
        }
    });

</script>