<%- include('./partials/header.ejs') %>

<div id="profileNav">     

    <% if( locals.userData.username === locals.userInfo.username){ %>
        <div id="profile_picture_upload_div">
            <form action="/users/profile_picture" method="post" id="profile_picture_upload_form">
                <label for="picture_url">Image Url:</label>
                <input type="url" name="picture_url" id="profile_picture_upload_input">
                <button>Submit</button>
                <i id="profile_picture_upload_cancel" class="fa-solid fa-circle-xmark"></i>
            </form>
        </div>

        <div id='userCardDiv'>
            <div id="main_profile_img_div" class="fa-icon">
                <img id='main_profile_img' class="profile_picture" src="<%= locals.userData.profilePictureUrl %>">
            </div>
            
            <div id="user_card_subcontainer">
                <h4><%= locals.userData.username %></h4>
        
                <% if(locals.userData.followers.includes(locals.userInfo.username)){ %>
                    <span class="follow_btn_span fa-icon follow_btn_span_following">
                        <button id="mainFollowBtn_<%= locals.userData.username %>" class="followBtn following_true">Follow</button>
                    </span>
                <% } %>
                <% if(!(locals.userData.followers.includes(locals.userInfo.username))){ %>
                    <span class="follow_btn_span fa-icon">    
                        <button id="mainFollowBtn_<%= locals.userData.username %>" class="followBtn">Follow</button>
                    </span>
                <% } %>

            </div>
        </div>
    <% }else{ %>
        <div id='userCardDiv'>
            <div>
                <img class="profile_picture" id="main_profile_img" src="<%= locals.userData.profilePictureUrl %>">
            </div>
            
            <div id="user_card_subcontainer">
                <h4><%= locals.userData.username %></h4>
        
                <% if(locals.userData.followers.includes(locals.userInfo.username)){ %>
                    <span class="follow_btn_span fa-icon follow_btn_span_following">
                        <button id="mainFollowBtn_<%= locals.userData.username %>" class="followBtn following_true">Follow</button>
                    </span>
                <% } %>
                <% if(!(locals.userData.followers.includes(locals.userInfo.username))){ %>
                    <span class="follow_btn_span fa-icon">    
                        <button id="mainFollowBtn_<%= locals.userData.username %>" class="followBtn">Follow</button>
                    </span>
                <% } %>

            </div>
        </div>
    <% } %>


    <div id='profileTabsDiv'>
        <h3 class="tabButton">Posts</h3>

        <h3 class="tabButton">Favorites</h3>
        
        <h3 class="tabButton"><%= locals.userData.followers.length %> Followers</h3>
        
        <h3 class="tabButton"><%= locals.userData.following.length %> Following</h3>
    </div>

</div>
        
<div id='profileContent'>
    <div id="ownPostsDiv" class="profileTab">
        <!-- client side js -->
        <h1>own posts content</h1>
    </div>
    
    <div id="favoritePostsDiv" class="profileTab">
        <!-- client side js -->
        <h1>favorite posts content</h1>
    </div>
    
    <div id="followersDiv" class="profileTab">
        <!-- client side js -->
        <h1>followers content</h1>
    </div>

    <div id="followingDiv" class="profileTab">
        <!-- client side js -->
        <h1>following content</h1>
    </div>
</div>

<script>
    // Img error load
    let main_profile_img = document.getElementById('main_profile_img');
    main_profile_img.addEventListener('error',()=>{
        main_profile_img.src = '/assets/logo1.png'
    });

    let tabsCollection = document.getElementsByClassName('tabButton');
    let tabsContentCollection = document.getElementsByClassName('profileTab');
    let currentTab = 0;
    let path = 'posts';

    for (let index = 0; index < tabsCollection.length; index++) {
        tabsCollection[index].addEventListener('click',()=>{
            renderTabContent(index);
        });
    }

    async function renderTabContent(tabIndex){
        tabsContentCollection[currentTab].style.display = 'none';
        tabsContentCollection[currentTab].innerHTML = '';
        tabsCollection[currentTab].className = 'tabButton';
        currentTab = tabIndex;
        tabsCollection[currentTab].className = 'tabButton tabSelected';

        if(tabIndex === 0){path = 'posts'}
        if(tabIndex === 1){path = 'favorites'}
        if(tabIndex === 2){path = 'followers'}
        if(tabIndex === 3){path = 'following'}

        // *** call for content to db
        // *** split html and script
        let fetcher = await (await fetch('/users/'+path+'/<%= locals.userData.username %>')).text(); 
        
        while(fetcher.includes(`/scripts`)){
            fetcher= fetcher.replace('/scripts','flag1');
        }
        
        while(fetcher.includes(`/script`)){
            fetcher= fetcher.replace('/script','script');
        }

        while(fetcher.includes(`flag1`)){
            fetcher= fetcher.replace('flag1','/scripts');
        }
        
        fetcher = fetcher.split("<script>");
        
        console.log('[userProfile.ejs log1] fetcher = ',fetcher)
        
        let fetchHtml = fetcher[0];
        let fetchScript = fetcher[1];

        let scriptTag = document.createElement('script');
        scriptTag.innerHTML = `${fetchScript}`;

        console.log('[userProfile.ejs log2] scriptTag = ',scriptTag);
        
        
        tabsContentCollection[currentTab].innerHTML = fetchHtml;
        if(fetchScript){
            tabsContentCollection[currentTab].append(scriptTag);
        }
        
        addPopupEvent();
        console.log('[userProfile.ejs log3]  ');
        tabsContentCollection[tabIndex].style.display = 'block';
    }

    function addPopupEvent(){
        let authRequiredCollection = document.getElementsByClassName('authRequired');
        
        for (let index = 0; index < authRequiredCollection.length; index++) {
            authRequiredCollection[index].addEventListener('click', (e)=>{
                e.preventDefault();
                renderPopup();
            });
        }
    }

    async function renderPopup(){
        if(!document.getElementById('loginDiv')){
            let popupDiv = document.createElement('div');
            popupDiv.innerHTML = await (await fetch('/popup_login_html',{method:'POST'})).text();
            popupDiv.id = 'popupDiv';
            
            let loginPopupScript = document.createElement('script');
            loginPopupScript.innerHTML = await(await fetch('/scripts/loginPopup.js')).text();
            
            let body = document.body;
            body.append(popupDiv);
            body.append(loginPopupScript);
        }else{
            document.getElementById('popupDiv').style.display = 'block';
        }
    }

    renderTabContent(currentTab);


    //Main Follow Button
    let mainFollowBtn = document.getElementById('mainFollowBtn_<%= locals.userData.username %>');

    mainFollowBtn.addEventListener('click', async()=>{
        let options = {method:'post'}
        let follow_username = mainFollowBtn.id.slice(14);
        let fetcher = await (await fetch(`/users/follow/${follow_username}`,options)).json();
        
        console.log('[userProfile.ejs Main follow btn] \n',fetcher);
        if(fetcher.error === 'Not Logged In'){
            renderPopup();
        }

        if(fetcher.followStatus){
            mainFollowBtn.parentElement.className = 'follow_btn_span fa-icon follow_btn_span_following'; 
        }
        else{
            mainFollowBtn.parentElement.className = 'follow_btn_span fa-icon'; 
        }
    });

    

</script>

<% if( locals.userData.username === locals.userInfo.username){ %>
    <script>
        //Main profile image
        let main_profile_img_div = document.getElementById('main_profile_img_div');

        main_profile_img_div.addEventListener('click',()=>{
            document.getElementById('profile_picture_upload_div').style.display = 'block';
        });

        let profile_picture_upload_cancel = document.getElementById('profile_picture_upload_cancel');

        profile_picture_upload_cancel.addEventListener('click', ()=>{
            document.getElementById('profile_picture_upload_div').style.display = 'none';
        });
    </script>
<% } %>