<% locals.document.forEach( document =>{ %>
    <div class="postPreview" id="div_<%= document.publicID %>">
                
        <div class="userPopupContainer">

            
            <div class="profilePopup">
                <img class="profile_picture" src="calltodb">

                <div class="profile_popup_subcontainer">
                    <a href="/users/<%= document.poster %>"><%= document.poster %></a>
                    <span class="follow_btn_span fa-icon">
                        <button id="followBtn_<%= document.poster %>" class="followBtn">Follow</button>
                    </span>
                </div>
                
                <a href="/users/<%= document.poster %>">Loading</a>
                <a href="/users/<%= document.poster %>">Loading</a>

            </div>
    

            <a class="userProfileLink name_<%= document.poster %>" href="/users/<%= document.poster %>"> <%= document.poster %> </a>
        </div>


        <div class="post_preview_content">
            <i class="fa-solid fa-quote-left"></i>
            <h2 class="post_preview_quote"> <%= document.content %> </h2>
            <i class="fa-solid fa-quote-right"></i>
            <h4 class="post_preview_author"> - <%= document.quoteAuthor %> </h4>
        </div>


        <div class="post_preview_footer">
            <div class="post_preview_tags">
                <% document.tags.forEach( tag =>{ %>
                    <a href="/results?search_query=<%= tag %>">#<%= tag %>&nbsp</a>
                <% }) %>   
            </div>
               
            <div class="post_preview_buttons">
                <a href=<%= '/posts/'+ document.publicID %>> <%= document.comments.length %> comments </a>
                    
                    <!-- delete/favorite button -->
                <% if(locals.userInfo.username === document.poster){ %>
                    <span class="fa-icon delete_btn_span">
                        <button class="deleteButton" id="delete_<%= document.publicID %>" aria-label="Delete"></button>
                    </span>
                <% }else{ %>
                    <% if(document.favoritedBy.includes(locals.userInfo.username)){ %>
                        <span class="fa-icon favorite_btn_span" aria-label="Favorite">
                            <button class="favoriteButton favorited" id="favorite_<%= document.publicID %>" ></button>
                        </span>
                    <% }else{ %>
                        <span class="fa-icon favorite_btn_span" aria-label="Favorite">
                            <button class="favoriteButton <%= locals.authRequired %>" id="favorite_<%= document.publicID %>"></button>
                        </span>
                    <% } %>
                <% } %>
            </div>

        </div>
  
    </div>
<% }) %>
                            
    
<% if(locals.userInfo.isLoggedIn){ %>
<script>
(()=>{//favoriteButton
    let favoriteButtonCollection = document.getElementsByClassName('favoriteButton');
    let array = [];
    // console.log(favoriteButton[8])
    
    for (let index = 0; index < favoriteButtonCollection.length; index++) {
        array[index] = favoriteButtonCollection[index];
    }   

    array.forEach( button =>{
        button.addEventListener('click', async ()=>{
            let fetcher = await (await fetch('/users/favorite/'+button.id.slice(9),{method:'post'})).json();
            if(fetcher.action === 'removed'){
                button.className = 'favoriteButton'; // remove favorited class
            }
            if(fetcher.action === 'added'){
                button.className = 'favoriteButton favorited'; // add favorited class
            }
        });
    });


//deletePostButton
    let deleteButtonCollection = document.getElementsByClassName('deleteButton');
    let deleteArray = [];

    for (let index = 0; index < deleteButtonCollection.length; index++) {
        deleteArray[index] = deleteButtonCollection[index];
    }

    deleteArray.forEach(deleteButton => {
        deleteButton.addEventListener('click', async()=>{

            let fetcher = await (await fetch('/posts/delete/'+deleteButton.id.slice(7),{method:'POST'})).json();
            if(fetcher.action === 'deleted'){
                let deleteDiv = document.getElementById('div_'+deleteButton.id.slice(7));
                // delete the postsPreview.ejs from DOM 
                deleteDiv.innerHTML = '<h2> Post deleted successfully</h2>'
            }
            else{
                // it should never get to this path if the user does not mess with http request
                // just as precaution: redirect = GET/all
                window.location.href = "/all";
            }
        });
    });

})();
</script>
<% } %>

<script>
(()=>{
    let userCollection = document.getElementsByClassName('userProfileLink');

    for (let index = 0; index < userCollection.length; index++) {
        userCollection[index].addEventListener('mouseover',async()=>{
            let username = userCollection[index].className.slice(21);
            let fetcher = await (await fetch('/users/popup/'+username)).json();

            let popupDiv = userCollection[index].parentNode.children[0];
                        
            popupDiv.children[0].src = fetcher.profileImg;
            
            if(fetcher.followStatus){
                popupDiv.children[1].children[1].className = popupDiv.children[1].children[1].className+' follow_btn_span_following';
            }
            
            popupDiv.children[2].innerText = fetcher.followers+' Followers';
            popupDiv.children[3].innerText = fetcher.following+' Following';
        });
        
    }

})();

</script>